.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  width: 50px; 
  height: auto; 
}

.navbar {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.navbar a {
  margin-right: 20px; /* Space between items */
  text-decoration: none;
  color: #333;
  padding-left: 100px;
}

.navbar a:last-child {
  margin-right: 100px;
}




.login-page{
  /* margin-bottom: 10%; */
  display: flex;
  justify-content: center;
}

.loginTitle{
  display: flex;
  justify-content: center;
}



.form-group{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.registrationPage{
  display: flex;
  justify-content: center;
}

.registrationPageForm{
  display: flex;
  flex-direction: center;
  padding-left: 43%;
}



.logincontainer {
  margin-top: 18%;
  margin-left: 37%;
  justify-content: center;
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}


.loginTitle {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  margin-bottom: 1px;
}

.login-page form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 5px;
  margin-top: 5px;
}

.form-group label {
  font-size: 14px;
  color: #555555;
  margin-bottom: 5px;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}



.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}


button.loginsubmitbutton {
  width: 43%;
  padding: 10px; 
  margin-left: 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  margin-bottom: 5%;
}

button.loginsubmitbutton:hover {
  background-color: #0056b3;
}

button.loginsubmitbutton:active {
  background-color: #003f7f;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}


button.forgetPasswordButton {
  width: 48%;
  padding: 10px; 
  margin-left: 3px;
  font-size: 14px;
  background-color: #b88e2c;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  margin-bottom: 5%;
}

button.forgetPasswordButton:hover {
  background-color: #876820;
}

button.cancelloginbutton {
  width: 93%;
  margin-left: 8%;
  margin-top: 0px;
  margin-bottom: 10%;
  padding: 10px;
  font-size: 16px;
  background-color: #ff0000e9;
  color: #000000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

button.cancelloginbutton:hover {
  background-color: #b30000;
}

button.cancelloginbutton:active {
  background-color: #7f0000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}







button.registersubmitbutton {
  width: 93%;
  margin-left: 8%;
  margin-top: 10px;
  margin-bottom: 10%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

button.registersubmitbutton:hover {
  background-color: #0056b3;
}

button.registersubmitbutton:active {
  background-color: #003f7f;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}


button.cancelregistrationbutton {
  width: 93%;
  margin-left: 8%;
  margin-top: 0px;
  margin-bottom: 10%;
  padding: 10px;
  font-size: 16px;
  background-color: #ff0000e9;
  color: #000000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

button.cancelregistrationbutton:hover {
  background-color: #b30000;
}

button.cancelregistrationbutton:active {
  background-color: #7f0000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}




.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 50px;
  padding-right: 5%;
  margin-top: 6%;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.registerTitle {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.register-page {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  margin-bottom: 15px;
}

.user-type-options {
  display: flex;
  gap: 10px;
}





@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


.frequencyChart {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2)
  );
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  width: 37%;
  flex-direction: column;
  padding: 1%;
}

.charts-container{
  /* border: 5px solid black; */
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1%;
  justify-content: space-between; 
  width: 95vw;
  overflow-x: auto;
  white-space: nowrap;
}

/* .charts-container {
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1%;
  justify-content: flex-start;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  
 
  width: 95vw;  
  max-width: 1500px; 
  margin: 0 auto;  
} */


.charts-container::-webkit-scrollbar {
  height: 8px;
}

.charts-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.charts-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.charts-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.charts-container > * {
  flex-shrink: 0;
}



.LineChartContainer{
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2)
  );
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  width: 110%;
  flex-direction: column;
  padding: 1%;
}



.ChargingHistoryBarChart{
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2)
  );
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  width: 38%;
  flex-direction: column;
  padding: 1%;
}

/* .ChargingHistoryBarChart {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2)
  );
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  width: 32%;
  flex-direction: column;
  
} */




.frequencyChart h1 {
  margin-top: 20px; 
  font-size: 1.5rem; 
  text-align: center; 
}


.dashboardcontainer{
  overflow-x: hidden; 
  overflow-y: auto; 
  white-space: normal;
  padding: 20px;
}


.mapContainer{
  height: 48%;
  margin-top: 2%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2)
  );
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}


.usernameProfileContainer{
  width: 80%;
  height: 80%;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submitAdminProfileChangeButton{
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.submitAdminProfileChangeButton:hover{
  background-color: #9ec19d;
  color: black;
  border: 1px solid black;
}

.submitAdminProfileChangeButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}

.DeleteAdminAccountButton{
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  margin-left: 84%;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.DeleteAdminAccountButton:hover{
  background-color: rgb(183, 2, 2);
  color: rgb(255, 255, 255);
  border: 1px solid black;
}

.DeleteAdminAccountButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}




.adminProfileInputFirstName{
  width: 15%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.adminProfileInputLastName{
  width: 15%;
  padding: 0.5rem;
  margin-left: 40px;
  font-size: 1rem;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.adminProfileInputOrganizationName{
  width: 36%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}



.adminProfilePasswordChange{
  width: 36%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.resetPasswordOneContainer{
  margin-top: 18%;
  margin-left: 37%;
  justify-content: center;
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.EmailForResetPassWordButton{
  width: 20%;
  padding: 10px;
  font-size: 15px;
  margin-left: 2%;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
}

.resetPassEmailField{
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.EmailForResetPassWordButton:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid black;
  
}

.resetPassTwoContainer{
  margin-top: 18%;
  margin-left: 37%;
  justify-content: center;
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.ResetPassWordTwoButton{
  width: 20%;
  padding: 10px;
  font-size: 15px;
  margin-left: 2%;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
}

.ResetPassWordTwoButton:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 1px solid black;
  
}

.newPasswordField{
  width: 50%;
  padding: 10px;
  margin-bottom: 3%;
  font-size: 16px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.verificationCodeField{
  width: 50%;
  padding: 10px;
  margin-bottom: 3%;
  font-size: 16px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}





.voltageSettingsContainer h3 {
  margin: 0; 
  padding-bottom: 5px;
}

.currentOrVoltageChartSelection,
.tenDaysOrLiveSelection {
  margin-top: 0; 
}

.row {
  display: flex;
  justify-content: flex-start;
  gap: 10px; 
}

.CheckboxLabel {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
}

.CheckboxLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}

.CheckboxLabel input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.CheckboxLabel input:checked ~ .checkmark:after {
  display: block;
}

.CheckboxLabel .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}




.SubmitChartSettingbuttonContaine {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.submitChartOrTimeButton,
.cancelChartOrTimeButton {
  margin-top: 5%;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.cancelChartOrTimeButton {
  margin-left: 35%;
}

.submitChartOrTimeButton {
  background-color: #4caf50; /* Green */
  color: white;
}

.cancelChartOrTimeButton {
  background-color: #f44336; /* Red */
  color: white;
}

.submitChartOrTimeButton:hover {
  background-color: #45a049;
}

.cancelChartOrTimeButton:hover {
  background-color: #d32f2f;
}